/*
blue: #0059b3
*/

body {
  font-size: 13px;
}
.dynamic-contemnt-wrapper {
  padding-top: 70px;
}
.bg-blue {
  background-color: #0059b3;
}
.dynamic-contemnt-wrapper {
  padding-top: 70px;
}
.bg-blue {
  background-color: #0059b3;
}

/******* Workflow ********/
.alert {
  position: fixed;
  width: 90%;
  left: 5%;
  top: 0;
  display: none;
  z-index: 2000;
}

.refresh-wrapper {
  width: 100%;
  text-align: center;
  background-color: #efefef;
  padding: 20px;
  left: 0px;
  margin-bottom: 30px;
}
.workflow-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;
}

.task-wrapper {
  position: relative;
  text-align: center;
}
.task-wrapper:nth-child(2n) .task-info {
  right: 100%;
  left: auto;
  margin-right: 50px;
  margin-left: 0px;
}
.task-wrapper:nth-child(2n) .task-info::before {
  left: 100%;
  right: auto;
}
.task-wrapper:last-of-type .task-line {
  display: none;
}
.task-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: cadetblue;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-icon span {
  display: flex;
}
.task-icon i {
  color: #fff;
  font-size: 32px;
  line-height: 0px;
}
.task-icon i.bi-plus-circle {
  cursor: pointer;
}

.task-info {
  position: absolute;
  background-color: #efefef;
  top: 0px;
  left: 100%;
  margin-left: 50px;
  text-align: left;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}

.task-line {
  width: 5px;
  background-color: #777;
  height: 70px;
  margin: 20px auto;
}

.task-info::before {
  content: " ";
  position: absolute;
  top: 25px;
  width: 35px;
  height: 2px;
  background-color: #777;
  z-index: 20;
  right: 100%;
}
.task-info .observation-opener span {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: #0059b3;
}
.task-info .observation-opener i {
  color: #0059b3;
  font-size: 10px;
}
.task-info .observation-opener label {
  padding: 5px;
}

.task-info .observation-opener i.done-observe {
  display: none;
}

.task-title {
  font-weight: bold;
  width: 33%;
  display: inline-block;
}

.task-running {
  background-color: #0059b3;
}

.bg-light-grey {
  background-color: #f2f2f2;
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal-wrapper .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper .close i {
  color: #777;
}

.dialog {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 10px;
  margin-top: 100px;
  box-shadow: 0px 3px 14px -2px #000;
  border-radius: 5px;
}

.form-item {
  margin-bottom: 20px;
}
.active {
  font-weight: bold;
  /* background-color: #0354a5cb;
  transition: 0.3 ease background-color;
  border: 2px solid #dbd8d8; */
}

.plan-completed {display: flex;align-items: center;justify-content: center;font-size: 16px;font-weight: bold;}
.plan-completed i {color: cadetblue;font-size: 24px;}


@media (min-width: 480px){
  .task-wrapper:nth-child(2n+1) .task-info {
    left: 100%;
    right: auto;
    margin-left: 100px;
    margin-right: 0px;
  }
  .task-wrapper:nth-child(2n) .task-info {
    right: 100%;
    left: auto;
    margin-right: 100px;
    margin-left: 0px;
  }
  .task-info::before {
    width: 80px;
  }
}

@media (min-width: 720px){
  .task-wrapper:nth-child(2n+1) .task-info {
    left: 100%;
    right: auto;
    margin-left: 200px;
    margin-right: 0px;    
  }
  .task-wrapper:nth-child(2n) .task-info {
    right: 100%;
    left: auto;
    margin-right: 200px;
    margin-left: 0px;
  }
  .task-info::before {
    width: 180px;
  }
  .alert {
    width: 60%;
    left: 20%;
  
  }
}
.card {
  margin: 0 auto; /* Added */
  margin-bottom: 10px; /* Added */
  width: 35%;
  position: relative;
  padding-bottom: 35%;
  height: 0px;
}
.card-info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

.bg-blue-rp {
  background-color: #157dec;
}

.bg-blue-p {
  background-color: #1589ff;
}

.bg-blue-dm {
  background-color: #368bc1;
}

/* .square {

  text-align: center;
  width: 150px;
  height: 150px;

} */

/* *,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.square {
  position: relative;
  width: 40%;
}

.square:after {
  content: "";
  display: block;
  padding-top: 100%;
} */

@media (min-width: 720px) {
  .card-wrapper {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 20%;
    padding-bottom: 20%;
    margin: 0 10px; /* Added */
    margin-bottom: 10px; /* Added */
  }
  
.dialog {
  width: 60%;
}
}
@media (max-width: 320px) {
  .card {
    width: 80%;
    padding-bottom: 80%;
  }
}

.socialMedias{
  float:right;
  }
  
.philips-logo {
  block-size:4.5vw;
  block-size:1.5vh;
  }
